@media only screen and (max-width: 1024px) {
 .container {
 max-width: 100%;
}
.header {
    flex-wrap: wrap;
}
.images-view {
flex-wrap: wrap;

}
.articles__document {
    height: 67px;}
}