@font-face {
    font-family: "Victorian";
    src: url("../fonts/victorian-gothic-two.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
        font-family: "Roboto";
        src: url("../fonts/roboto-regular.woff2") format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        }   